# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/target/
backend/.mvn/
*.class
*.jar

# Ignore Spring Boot config (NOT recommended usually)
pakpay/src/main/resources/application.properties

pakpay/target

# IDEs
.idea/
.vscode/
.settings/
.classpath
.project