# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/target/
backend/.mvn/
*.class
*.jar


# Spring Boot config
**/application.properties
**/application.yml

pakpay/target

# IDEs
.idea/
.vscode/
.settings/
.classpath
.project